<div class="card">
    <div class="box-initial">
      <div class="box-image">
        <img width="100%" height="100%" src="https://images-na.ssl-images-amazon.com/images/I/71ZLavBjpRL.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <p class="nome-livro">O Senhor dos Anéis</p>
        <p class="autor-edicao">JRR.Tolkien - 04 Edição </p>
        
          <div class="locado">
            <div class="icon-circular"></div>
            <span>Locado</span>
          </div>
      </div>
    </div>
    <div class="box-hover">
        <span>Emprestar</span>
        <div class="line"></div>
        <span>Devolver</span>
        <div class="line"></div>
        <span>Editar</span>
        <div class="line"></div>
        <span >Excluir</span>
    </div>
</div>
