/* You can add global styles to this file, and also import other style files */
$theme-colors: ( "primary": #2D5DB9 );
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
   font-family: 'Nunito', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bs-datepicker-body table td.week span 
{
  color: #2D5DB9 !important; 
}
.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color:#2D5DB9 !important; 
}


